/* CSS Variables */
:root {
    --primary-color: #2c3e50;
    --accent-color: #e67e22;
    --bg-light: #f4f4f4;
    --card-bg: #ffffff;
    --text-main: #333333;
    --border-color: #cccccc;
}


/* Body Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-main);
    line-height: 1.6;
    margin: 20px;
}


/* Headings Typography */
h1, h2, h3 {
    font-family: Georgia, serif;
    color: var(--primary-color) ;
    font-weight: bold;
}


/* Remove Underline */
nav a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

/* Hover ffect */
nav a:hover {
    background-color: var(--accent-color);
    color: white;
}


/* Active pressed */
nav a:active {
    background-color: #d35400;
}


/*Focus (keyboard user) */
a:focus, button:focus, input:focus {
    outline: 3px solid
    var(--accent-color);
}


/* Buttons */
button:hover {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

button:active {
    transform: scale(0.95);
}


/* Product cards */
article {
    display: inline-block;
    width: 250px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
}


/* Aternative card colors */
article:nth-child(even) {
    background-color: white;
}


/* images */
article img {
    width: 100%;
    border-radius: 5px;
}


/* Cart empty state */
.cart-items:empty {
    background-color: #ffe6e6;
    padding: 20px;
    border: 1px dashed red;
}

.price::before {
    content: "₱";
    margin-right: 3px;
}

input:required {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid var(--border-color);
    padding: 10px;
}

/* First column */
td:first:child {
    font-weight: bold;
    color: var(--primary-color);
}


/* Order history */
::marker {
    color: var(--accent-color);
    font-weight: bold;
}

/* Quotation marks */
blockquote::before {
    content: "";
    font-size: 30px;
    color: var(--accent-color);
}

blockquote::after {
    content: "";
    font-size: 30px;
    color: var(--accent-color);
}